<a href="https://colab.research.google.com/github/FizHubWasTaken/Labfiz/blob/main/51WspolczynnikZalamania.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [265]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [266]:
def extract(string):
  lst = string.replace(",",".").split()
  return [1e-3 * float(i) for i in lst]

In [267]:
def create_table(a_d, a_g):
  labels = [
          'odczyt dół a_d[m]',
          'odczyt góra a_g[m]',
  ]
  a_d = extract(a_d)
  a_g = extract(a_g)
  dict = {}
  for i, item in enumerate((a_d, a_g)):
    dict[labels[i]] = item
  tab = pd.DataFrame(dict)
  tab["grubość pozorna h[m]"] = tab['odczyt góra a_g[m]'] - tab['odczyt dół a_d[m]']
  #print(tab)
  return tab

In [268]:
def u(d, h, ud, uh):
  u1 = ud/h
  u2 = -d/h**2 * uh
  return (u1**2 + u2 ** 2) ** 0.5

In [269]:
def calc(tab, d, ud):
  h = tab['grubość pozorna h[m]'].mean() # grubość pozorna
  uh = tab['grubość pozorna h[m]'].std() # niepewność pomiaru
  n = d/h # współczynnik załamania
  un = u(d, h, ud, uh) # niepewność wyniku
  return n, un

##Materiał 1: Pleksi

In [270]:
d = 4.93e-3 #Grubość rzeczywista
ud = 1e-5

In [271]:
tab1 = create_table("""4,78
4,74
4,78
4,81
4,79
4,78
4,80
4,79
4,75
4,79""", """8,02
8,07
8,04
8,06
8,01
8,08
8,06
8,02
8,06
8,05""")

In [272]:
tab1

   odczyt dół a_d[m]  odczyt góra a_g[m]  grubość pozorna h[m]
0               0.00                0.01                  0.00
1               0.00                0.01                  0.00
2               0.00                0.01                  0.00
3               0.00                0.01                  0.00
4               0.00                0.01                  0.00
5               0.00                0.01                  0.00
6               0.00                0.01                  0.00
7               0.00                0.01                  0.00
8               0.00                0.01                  0.00
9               0.00                0.01                  0.00

In [273]:
n1, un1 = calc(tab1, d, ud)

In [274]:
n1 # współczynnik załamania światła

1.5094917330067361

In [275]:
un1 # niepewność

0.016901143433196125

##Materiał 2: Pleksi

In [276]:
d = 1.94e-3 #Grubość rzeczywista
ud = 1e-5

In [277]:
tab2 = create_table("""7,8
7,78
7,85
7,81
7,82
7,78
7,79
7,83
7,77
7,79""", """9,1
9,11
9,07
9,1
9,11
9,12
9,12
9,09
9,11
9,09""")

In [278]:
tab2

   odczyt dół a_d[m]  odczyt góra a_g[m]  grubość pozorna h[m]
0               0.01                0.01                  0.00
1               0.01                0.01                  0.00
2               0.01                0.01                  0.00
3               0.01                0.01                  0.00
4               0.01                0.01                  0.00
5               0.01                0.01                  0.00
6               0.01                0.01                  0.00
7               0.01                0.01                  0.00
8               0.01                0.01                  0.00
9               0.01                0.01                  0.00

In [279]:
n2, un2 = calc(tab2, d, ud)

In [280]:
n2 # współczynnik załamania

1.492307692307692

In [281]:
un2

0.04463024043891417

##Materiał: Szkło

In [282]:
d = 2.96e-3 # m
ud = 0.01e-3 # m

In [283]:
tab3 = create_table("""6,80
6,83
6,81
6,82
6,80
6,82
6,83
6,84
6,80
6,83""", """8,68
8,69
8,70
8,71
8,70
8,78
8,70
8,68
8,70
8,70""")
tab3

   odczyt dół a_d[m]  odczyt góra a_g[m]  grubość pozorna h[m]
0               0.01                0.01                  0.00
1               0.01                0.01                  0.00
2               0.01                0.01                  0.00
3               0.01                0.01                  0.00
4               0.01                0.01                  0.00
5               0.01                0.01                  0.00
6               0.01                0.01                  0.00
7               0.01                0.01                  0.00
8               0.01                0.01                  0.00
9               0.01                0.01                  0.00

In [284]:
n3, un3 = calc(tab3, d, ud)

In [285]:
n3

1.5694591728525982

In [286]:
un3

0.02718593730531578

##Materiał: Szkło

In [287]:
d = 3.87e-3 # m
ud = 0.01e-3 # m

In [288]:
tab4 = create_table("""6,96
6,89
6,88
6,84
6,91
6,93
6,90
6,84
6,85
6,85""", """9,50
9,40
9,41
9,39
9,38
9,37
9,41
9,35
9,40
9,39""")
tab4

   odczyt dół a_d[m]  odczyt góra a_g[m]  grubość pozorna h[m]
0               0.01                0.01                  0.00
1               0.01                0.01                  0.00
2               0.01                0.01                  0.00
3               0.01                0.01                  0.00
4               0.01                0.01                  0.00
5               0.01                0.01                  0.00
6               0.01                0.01                  0.00
7               0.01                0.01                  0.00
8               0.01                0.01                  0.00
9               0.01                0.01                  0.00

In [289]:
n4, un4 = calc(tab4, d, ud)

In [290]:
n4

1.5387673956262422

In [291]:
un4

0.022369090651300397

##Dyspersja

###Czerwony

In [292]:
d = 4.93e-3 # m
ud = 0.01e-3 # m

In [293]:
tab5red = create_table("""5,72
5,69
5,72
5,72
5,73
5,7
5,71
5,72
5,70
5,71""", """9,02
9,00
9,02
9,05
9,06
9,06
9,02
9,01
9,03
9,02""")
tab5red

   odczyt dół a_d[m]  odczyt góra a_g[m]  grubość pozorna h[m]
0               0.01                0.01                  0.00
1               0.01                0.01                  0.00
2               0.01                0.01                  0.00
3               0.01                0.01                  0.00
4               0.01                0.01                  0.00
5               0.01                0.01                  0.00
6               0.01                0.01                  0.00
7               0.01                0.01                  0.00
8               0.01                0.01                  0.00
9               0.01                0.01                  0.00

In [294]:
n5r, un5r = calc(tab5red, d, ud)

In [295]:
n5r

1.4862827856496834

In [296]:
un5r

0.009699693611810955

###Zielony

In [297]:
tab5g = create_table("""5,71
5,79
5,77
5,71
5,76
5,81
5,77
5,77
5,82
5,73""", """9,08
9,04
9,06
9,07
9,03
9,04
9,04
9,12
9,11
9,06""")
tab5g

   odczyt dół a_d[m]  odczyt góra a_g[m]  grubość pozorna h[m]
0               0.01                0.01                  0.00
1               0.01                0.01                  0.00
2               0.01                0.01                  0.00
3               0.01                0.01                  0.00
4               0.01                0.01                  0.00
5               0.01                0.01                  0.00
6               0.01                0.01                  0.00
7               0.01                0.01                  0.00
8               0.01                0.01                  0.00
9               0.01                0.01                  0.00

In [298]:
n5g, un5g = calc(tab5g, d, ud)

In [299]:
n5g

1.4934868221750988

In [300]:
un5g

0.022212599870205442

###Niebieski

In [301]:
tab5b = create_table("""5,9
5,96
5,9
6,04
5,95
5,93
5,9
5,97""", """9,27
9,16
9,2
9,14
9,24
9,23
9,26
9,26""")
tab5b

   odczyt dół a_d[m]  odczyt góra a_g[m]  grubość pozorna h[m]
0               0.01                0.01                  0.00
1               0.01                0.01                  0.00
2               0.01                0.01                  0.00
3               0.01                0.01                  0.00
4               0.01                0.01                  0.00
5               0.01                0.01                  0.00
6               0.01                0.01                  0.00
7               0.01                0.01                  0.00

In [302]:
n5b, un5b = calc(tab5b, d, ud)

In [303]:
n5b

1.5047691720717287

In [304]:
un5b

0.04052553000199423

###Żółty

In [305]:
tab5y = create_table("""5,9
6
6,03
6,02
5,99""", """9,2
9,28
9,26
9,25
9,23""")
tab5y

   odczyt dół a_d[m]  odczyt góra a_g[m]  grubość pozorna h[m]
0               0.01                0.01                  0.00
1               0.01                0.01                  0.00
2               0.01                0.01                  0.00
3               0.01                0.01                  0.00
4               0.01                0.01                  0.00

In [306]:
n5y, un5y = calc(tab5y, d, ud)

In [307]:
n5y

1.5141277641277646

In [308]:
un5y

0.015237131159529533

In [309]:
disp = pd.DataFrame()

In [310]:
disp['Brak filtra'] = [n1, un1]

In [311]:
disp.index = ['współczynnik załamania n', 'niepewność un']

In [312]:
disp['Czerwony filtr'] = [n5r, un5r]

In [313]:
disp['Zielony filtr'] = [n5g, un5g]

In [314]:
disp['Niebieski filtr'] = [n5b, un5b]

In [315]:
disp['Żołty filtr'] = [n5y, un5y]

In [316]:
disp

                          Brak filtra  ...  Żołty filtr
współczynnik załamania n         1.51  ...         1.51
niepewność un                    0.02  ...         0.02

[2 rows x 5 columns]

#Podsumowanko

In [317]:
tab = pd.DataFrame()

In [318]:
tab['Współczynnik załamania n'] = [n1, n2, n3, n4]

In [319]:
tab.index = ['Pleksi grubsze', 'Pleksi cieńkie', "Szkło cieńkie", "Szkło grubsze"]

In [320]:
tab['Niepewność'] = [un1, un2, un3, un4]

In [321]:
pd.options.display.float_format = '{:,.2f}'.format
tab

                Współczynnik załamania n  Niepewność
Pleksi grubsze                      1.51        0.02
Pleksi cieńkie                      1.49        0.04
Szkło cieńkie                       1.57        0.03
Szkło grubsze                       1.54        0.02

In [322]:
disp.transpose()

                 współczynnik załamania n  niepewność un
Brak filtra                          1.51           0.02
Czerwony filtr                       1.49           0.01
Zielony filtr                        1.49           0.02
Niebieski filtr                      1.50           0.04
Żołty filtr                          1.51           0.02