<a href="https://colab.research.google.com/github/FizHubWasTaken/Labfiz/blob/main/MateuszWleklinski/Oporniki.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
L = 1 #m

uR = 1 #om
ua = 2e-3 #m

In [ ]:
def unc(R, a, uR, ua):
    u1 = R * L / (L - a) ** 2 * ua
    u2 = a / (L - a) * uR
    return (u1 ** 2 + u2 ** 2) ** 0.5

# Opor 2

In [ ]:
R = [83, 69, 58, 49, 42, 35.5, 30, 26, 22, 18.5, 15.3]
a = [(300 + 40 * i) / 1000 for i in range(11)]
Rx = [R[i] * a[i] / (L - a[i]) for i in range(11)]
uRx = [unc(R[i], a[i], uR, ua) for i in range(11)]


R2 = pd.DataFrame({
    'R': R,
    'a': a,
    'Rx': Rx,
    'uRx': uRx
})
R2['Rx'].std()

0.21825816210662233

In [ ]:
R2

       R     a         Rx       uRx
0   83.0  0.30  35.571429  0.546299
1   69.0  0.34  35.545455  0.604769
2   58.0  0.38  35.548387  0.683165
3   49.0  0.42  35.482759  0.780540
4   42.0  0.46  35.777778  0.899241
5   35.5  0.50  35.500000  1.039546
6   30.0  0.54  35.217391  1.207673
7   26.0  0.58  35.904762  1.412065
8   22.0  0.62  35.894737  1.659788
9   18.5  0.66  35.911765  1.967387
10  15.3  0.70  35.700000  2.357975

# Opor 3

In [ ]:
R = '109 91 76 64 55 47 40 34 28.5 24 20'.split(' ')
R = [float(item) for item in R]
Rx = [R[i] * a[i] / (L - a[i]) for i in range(11)]
uRx = [unc(R[i], a[i], uR, ua) for i in range(11)]
R3 = pd.DataFrame({
    'R': R,
    'a': a,
    'Rx': Rx,
    'uRx': uRx
})
R3

        R     a         Rx       uRx
0   109.0  0.30  46.714286  0.617744
1    91.0  0.34  46.878788  0.663287
2    76.0  0.38  46.580645  0.729389
3    64.0  0.42  46.344828  0.818019
4    55.0  0.46  46.851852  0.931640
5    47.0  0.50  47.000000  1.068352
6    40.0  0.54  46.956522  1.233292
7    34.0  0.58  46.952381  1.433747
8    28.5  0.62  46.500000  1.678650
9    24.0  0.66  46.588235  1.985089
10   20.0  0.70  46.666667  2.375284

In [ ]:
R3['Rx'].std()

0.21414234169326962

Opor 4

In [ ]:
ua = 3e-3
uR = 2

In [ ]:
R = '163 136 114 97.5 82.5 70 60 51 43 36 30'.split()
R = [float(item) for item in R]
Rx = [R[i] * a[i] / (L - a[i]) for i in range(11)]
uRx = [unc(R[i], a[i], uR, ua) for i in range(11)]
R4 = pd.DataFrame({
    'R': R,
    'a': a,
    'Rx': Rx,
    'uRx': uRx
})
R4

        R     a         Rx       uRx
0   163.0  0.30  69.857143  1.315529
1   136.0  0.34  70.060606  1.392414
2   114.0  0.38  69.870968  1.514650
3    97.5  0.42  70.603448  1.689241
4    82.5  0.46  70.277778  1.903420
5    70.0  0.50  70.000000  2.169239
6    60.0  0.54  70.434783  2.497181
7    51.0  0.58  70.428571  2.894894
8    43.0  0.62  70.157895  3.383235
9    36.0  0.66  69.882353  3.993182
10   30.0  0.70  70.000000  4.772607

In [ ]:
R4['Rx'].std()

0.25853957685291856

# Opór 5 pierwsze 30cm

In [ ]:
ua = 4e-3
uR = 10

R = '2350 1280 858 628 490 397 328 278 238 207'.split()
R = [float(item) for item in R]
a = [(30 * i) / 1000 for i in range(1, 11)]
Rx = [R[i] * a[i] / (L - a[i]) for i in range(10)]
uRx = [unc(R[i], a[i], uR, ua) for i in range(10)]
R5a = pd.DataFrame({
    'R': R,
    'a': a,
    'Rx': Rx,
    'uRx': uRx
})
R5a

        R     a         Rx       uRx
0  2350.0  0.03  72.680412  9.995221
1  1280.0  0.06  81.702128  5.829527
2   858.0  0.09  84.857143  4.260800
3   628.0  0.12  85.636364  3.518772
4   490.0  0.15  86.470588  3.236277
5   397.0  0.18  87.146341  3.224304
6   328.0  0.21  87.189873  3.389032
7   278.0  0.24  87.789474  3.698476
8   238.0  0.27  88.027397  4.107466
9   207.0  0.30  88.714286  4.606816

In [ ]:
R5a['Rx'].std()

4.776983721568216

In [ ]:
R5a['Rx'].mean()

85.02140062994155

# R5 środek

In [ ]:
ua = 2e-3
uR = 2

R = '179 157 137 121 108 96 84 75 66 58.5 52 45 39.7'.split()
R = [float(item) for item in R]
a = [(330 + 30 * i) / 1000 for i in range(13)]
Rx = [R[i] * a[i] / (L - a[i]) for i in range(13)]
uRx = [unc(R[i], a[i], uR, ua) for i in range(13)]
R5b = pd.DataFrame({
    'R': R,
    'a': a,
    'Rx': Rx,
    'uRx': uRx
})
R5b

        R     a         Rx       uRx
0   179.0  0.33  88.164179  1.267433
1   157.0  0.36  88.312500  1.361361
2   137.0  0.39  87.590164  1.475558
3   121.0  0.42  87.620690  1.617100
4   108.0  0.45  88.363636  1.785372
5    96.0  0.48  88.615385  1.977996
6    84.0  0.51  87.428571  2.196084
7    75.0  0.54  88.043478  2.452510
8    66.0  0.57  87.488372  2.745599
9    58.5  0.60  87.750000  3.087835
10   52.0  0.63  88.540541  3.489111
11   45.0  0.66  87.352941  3.959646
12   39.7  0.69  88.364516  4.527638

In [ ]:
R5b['Rx'].mean()

87.97192102320037

In [ ]:
R5b['Rx'].std()

0.45032935283623665

# Opór 5 ostatnie 30cm

In [ ]:
ua = 1e-3
uR = 0.5

R = '34.5	30	25	21.3	17.5	14	10.7	7.7	5	3.5'.split('\t')
R = [float(item) for item in R]
a = [(720 + 30 * i) / 1000 for i in range(10)]
a[9] = 0.975
Rx = [R[i] * a[i] / (L - a[i]) for i in range(10)]
uRx = [unc(R[i], a[i], uR, ua) for i in range(10)]
R5c = pd.DataFrame({
    'R': R,
    'a': a,
    'Rx': Rx,
    'uRx': uRx
})
R5c

      R      a          Rx        uRx
0  34.5  0.720   88.714286   1.358936
1  30.0  0.750   90.000000   1.574929
2  25.0  0.780   88.636364   1.846446
3  21.3  0.810   90.805263   2.211733
4  17.5  0.840   91.875000   2.712550
5  14.0  0.870   93.692308   3.447172
6  10.7  0.900   96.300000   4.625462
7   7.7  0.930  102.300000   6.826195
8   5.0  0.960  120.000000  12.400227
9   3.5  0.975  136.500000  20.288174

In [ ]:
R5c['Rx'].mean()

99.88232202008518

In [ ]:
R5c['Rx'].std()

15.978933666682801

# Równolegle (3, 4) i szeregowo 5

In [ ]:
ua = 2e-3
uR = 1.5

In [ ]:
R = '274	226	191	161	136.5	116.5	100	85	72	60.5	50.5'.split('\t')
R = [float(item) for item in R]
a = [(300 + 40 * i) / 1000 for i in range(11)]
Rx = [R[i] * a[i] / (L - a[i]) for i in range(11)]
uRx = [unc(R[i], a[i], uR, ua) for i in range(11)]


Rv1 = pd.DataFrame({
    'R': R,
    'a': a,
    'Rx': Rx,
    'uRx': uRx
})
Rv1

        R     a          Rx       uRx
0   274.0  0.30  117.428571  1.289965
1   226.0  0.34  116.424242  1.293763
2   191.0  0.38  117.064516  1.353797
3   161.0  0.42  116.586207  1.447779
4   136.5  0.46  116.277778  1.584049
5   116.5  0.50  116.500000  1.765963
6   100.0  0.54  117.391304  1.998506
7    85.0  0.58  117.380952  2.284638
8    72.0  0.62  117.473684  2.642741
9    60.5  0.66  117.441176  3.094185
10   50.5  0.70  117.833333  3.675511

In [ ]:
Rv1['Rx'].std()

0.5306057890106661

In [ ]:
Rv1['Rx'].mean()

117.072887763582

# Szeregowo(2, 5) połączono równolegle z Szeregowo(3, 4)

In [ ]:
uR = 1.5
ua = 4e-3

In [ ]:

R = [147, 122, 102.5, 88, 74.5, 63.3, 54, 46, 39, 32.6, 27.2]
a = [(300 + 40 * i) / 1000 for i in range(11)]
Rx = [R[i] * a[i] / (L - a[i]) for i in range(11)]
uRx = [unc(R[i], a[i], uR, ua) for i in range(11)]


Rv2 = pd.DataFrame({
    'R': R,
    'a': a,
    'Rx': Rx,
    'uRx': uRx
})
Rv2

        R     a         Rx       uRx
0   147.0  0.30  63.000000  1.361347
1   122.0  0.34  62.848485  1.360943
2   102.5  0.38  62.822581  1.408135
3    88.0  0.42  63.724138  1.508225
4    74.5  0.46  63.462963  1.636183
5    63.3  0.50  63.300000  1.809907
6    54.0  0.54  63.391304  2.035358
7    46.0  0.58  63.523810  2.319233
8    39.0  0.62  63.631579  2.675207
9    32.6  0.66  63.282353  3.122630
10   27.2  0.70  63.466667  3.702892

In [ ]:
Rv2['Rx'].mean()

63.31398898313552

In [ ]:
Rv2['Rx'].std()

0.30373565115113155

## Oczekiwana Wartość

### Rv1

In [ ]:
Rt1 = 1 / (1/R3['Rx'].mean() + 1/R4['Rx'].mean()) + R5b['Rx'].mean()

In [ ]:
Rt1

116.01774340406715

In [ ]:
Rv1['Rx'].mean()

117.072887763582

In [ ]:
Rv1['uRx'].mean()

2.0391725440877826

Zgodne w ramach niepewności pomiarowej

### Rv2

In [ ]:
Rt2 = 1/(1/(R2['Rx'].mean() + R5b['Rx'].mean()) + 1 / (R3['Rx'].mean() + R4['Rx'].mean()))

In [ ]:
Rt2

60.07444490525176

In [ ]:
Rv2['Rx'].mean()

63.31398898313552

In [ ]:
Rv2['uRx'].max()

3.702892429666167

Dane pokrywają się z wartościami teoretycznymi

##Wyniki

In [ ]:
lb = ['Opornik 2', 'Opornik 3', 'Opornik 4', 'Opornik 5']
val = []
unc = []
for item in [R2, R3, R4, R5b]:
  val.append(item['Rx'].mean())
  unc.append(item['uRx'].mean())

In [ ]:
results = pd.DataFrame(
    {
        'opornik': lb,
        'wartość[om]': val,
        'niepewność[om]': unc
    }
)

In [ ]:
results

     opornik  wartość[om]  niepewność[om]
0  Opornik 2    35.641315        1.196223
1  Opornik 3    46.730382        1.230409
2  Opornik 4    70.143049        2.502326
3  Opornik 5    87.971921        2.457173

In [ ]:
lb = ['pierwsze 30 cm', 'srodek', 'ostatnie 30cm']
val = []
unc = []
max_unc = []
for item in [R5a, R5b, R5c]:
  val.append(item['Rx'].mean())
  unc.append(item['uRx'].mean())
  max_unc.append(item['uRx'].max())

In [ ]:
R5 = pd.DataFrame(
    {
        'część': lb,
        'średnia wartość': val,
        'średnia niepewność': unc,
        'największa niepewność': max_unc
    }
)
R5

            część  średnia wartość  średnia niepewność  największa niepewność
0  pierwsze 30 cm        85.021401            4.586669               9.995221
1          srodek        87.971921            2.457173               4.527638
2   ostatnie 30cm        99.882322            5.729182              20.288174

In [ ]:
whiw